[submodule "themes/light"]
	path = themes/light
	url = https://github.com/hexojs/hexo-theme-light.git
[submodule "themes/phase"]
	path = themes/phase
	url = git://github.com/tommy351/hexo-theme-phase.git
[submodule "DemoPages/KRT_logMap"]
	path = DemoPages/KRT_logMap
	url = https://github.com/apolkingg8/KRT_logMap
